Django==3.0.7
django-copyright==1.0.0
django-summernote==0.8.11.6
django-tinymce==3.0.2
django-tinymce-images==0.1.2
django-wysiwyg==0.8.0
djangorestframework==3.11.0
gunicorn
django-heroku
django-crispy-forms
Pillow
