<!DOCTYPE html>
<html>

    <head>
        <title>crazy4python</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% load static from static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
        <script src="{% static 'js\jquery-3.5.1.min.js' %}" ></script>
        <script src="{% static 'js\jquery-3.2.1.slim.min.js' %}" ></script>
        <script src="{% static 'js\popper.min.js' %}" ></script>
        <script src="{% static 'js\bootstrap.min.js' %}" ></script>

    </head>

    <body>
        {% block header %} {% include 'header.html' %} {% endblock header %}
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
        {% block footer %} {% include 'footer.html' %} {% endblock footer %}
    </body>
</html>
