<!DOCTYPE html>
<html>

    <head>
        <title>crazy4python</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% load static from static %}
        <meta property="og:title" content="Welcome to crazy4python">
        <meta property="og:description" content="We Love python and Django As much as you do..!">
        <meta property="og:image" content="https://crazy4python.herokuapp.com/static/crazy4python_logo.png">
        <meta property="og:url" content="https://crazy4python.herokuapp.com/">

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon-32x32.png' %}" />
        <link rel="manifest" href="{% static 'site.webmanifest' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
        <script src="{% static 'js\jquery-3.5.1.min.js' %}" ></script>
        <script src="{% static 'js\jquery-3.2.1.slim.min.js' %}" ></script>
        <script src="{% static 'js\popper.min.js' %}" ></script>
        <script src="{% static 'js\bootstrap.min.js' %}" ></script>

    </head>

    <body>
        {% block header %} {% include 'header.html' %} {% endblock header %}
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
        {% block footer %} {% include 'footer.html' %} {% endblock footer %}
    </body>
</html>
