{% extends "base.html" %} 
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    .search_result_title{
        font-size: 2rem;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Welcome to crazy4python </h3>
                    <p class="text-light">We Love python and Django As much as you do..! &nbsp
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 left search_result_title">Search Results for {{request.GET.q}}</div>
        <!-- Blog Entries Column -->
        {% if object_list %}
        <div class="col-md-8 mt-3 left posts">
            {% for post in object_list %}
            <div class="card mb-4">
                <div class="card-body">
                    {% if post.image %}
                        <img src="{{ post.image.url}}" alt="image" width="100%" style="opacity:.5;">
                    {% endif %}
                    <a href="{% url 'post_detail' post.slug  %}"><h2 class="card-title">{{ post.title }}</h2></a>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{ post.small_description }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More...</a>
                </div>
            </div>
            {% empty %}
                <div class="col-md-8 mt-3 left">No Result Found for your search</div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
        {% if object_list %}
        <div class="col-md-8 mt-3 left">
            {% if is_paginated %}
                <nav aria-label="Page navigation conatiner"></nav>
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li><a href="?q={{request.GET.q}}&page={{ page_obj.previous_page_number }}" class="page-link mr-2">PREV</a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li><a href="?q={{request.GET.q}}&page={{ page_obj.next_page_number }}" class="page-link ml-2">NEXT</a></li>
    
                    {% endif %}
                </ul>
            {% endif %}
        </div>
        {% endif %}
        {% else %}
            <div class="col-md-8 mt-3 left">
                <div class="col-md-8 mt-3 left">No Result Found for your search</div>
            </div>
        {% endif %}
        </div>
    </div>
</div>
{%endblock%}